<server description="GraphQL service">
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.0</platform>
        <feature>restfulWS</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>cdi</feature>
        <feature>mpConfig</feature>
        <feature>mpRestClient</feature>
        <!-- tag::graphql[] -->
        <feature>mpGraphQL</feature>
        <!-- end::graphql[] -->
    </featureManager>

    <variable name="http.port" defaultValue="9082"/>
    <variable name="https.port" defaultValue="9445"/>

    <!-- tag::enableGraphiql[] -->
    <variable name="io.openliberty.enableGraphQLUI" value="true" />
    <!-- end::enableGraphiql[] -->

    <webApplication location="guide-microprofile-graphql-graphql.war" contextRoot="/" />
    <httpEndpoint host="*" httpPort="${http.port}" 
        httpsPort="${https.port}" id="defaultHttpEndpoint"/>
</server>
